<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/CUSTOMER/Account.css">
    <script src="/CUSTOMER/Account.js" defer></script>

</head>
<body onclick="closeMenu()">

    <%- include('../partials/navbar.ejs') %>
    
    <div class="container-1">
        <div class="container-2">
            <div id="sub1">
                <h2>Personal Info </h2><hr>
                <% if(currentUser){ %>
                    <input type="text" class="form-control fc1 form-control-lg" placeholder="<%=currentUser.name%>" disabled><br>
                    <input type="text" class="form-control fc1 form-control-lg" placeholder="<%=currentUser.gender%>" disabled>
                    <input type="tel" class="form-control fc1 form-control-lg" placeholder="<%=currentUser.mobileNumber%>" disabled>
                    <input type="email" class="form-control fc2 form-control-lg" placeholder="<%=currentUser.email%>" disabled>
                    <input type="text" class="form-control fc1 form-control-lg" placeholder="<%=currentUser.password%>"><label class="ms-2">Change Password</label>
                <%}else{%>
                <input type="text" class="form-control fc1 form-control-lg" placeholder="User Name" disabled><br>
                <input type="text" class="form-control fc1 form-control-lg" placeholder="Gender" disabled>
                <input type="tel" class="form-control fc1 form-control-lg" placeholder="Mobile Number" disabled>
                <input type="email" class="form-control fc2 form-control-lg" placeholder="Email" disabled>
                <input type="text" class="form-control fc1 form-control-lg" placeholder="**********"><label class="ms-2">Change Password</label>
                <%}%>
            </div>
            <div id="sub2">
                <h2>Address Book</h2><hr>
                <textarea type="text" class="form-control fc2 form-control-lg" placeholder="Address"></textarea>
                <input type="text" class="form-control fc1 form-control-lg" placeholder="State">
                <input type="number" class="form-control fc1 form-control-lg" placeholder="Pin Code">
                <input type="text" class="form-control fc1 form-control-lg" placeholder="Country"><br>
                <button type="button" class="btn">Update</button>
            </div>
            <div id="sub3">
                <h2>Your Orders</h2><hr>
            </div>
            <div id="sub4">
                <h2>Settings</h2><br><br>
                <a href="/About" class="ms-3">About</a><hr>
                <a  href="/helpAndSupport" class="ms-3">Help & Support</a><hr>
                <a href="" class="ms-3">Logout</a><hr>
            </div>
        </div>
        <div class="container-3">
            <h1 id="i1"><i class="fa-solid fa-user"></i></h1>
            <h1 id="i2"><i class="fa-sharp fa-solid fa-location-dot"></i></h1>
            <h1 id="i3"><i class="fa-sharp fa-solid fa-bags-shopping"></i></h1>
            <h1 id="i4"><i class="fa-solid fa-gear"></i></h1>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="CUSTOMER/customer.js"></script>
</body>
</html>