<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/ORGANIZATIONS/Organizations_Home.css">
<link rel="stylesheet" href="/ADMIN/Admin_Restaurants.css">

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Restaurants_Navbar.ejs') %>
    <h4 class="ms-4">Welcome, <%=currentUser.name%>!</h4>
    <div class="main-body">
       

        <div class="pending-verifications">

            <h3 class="mb-4"> Pending Donations </h3>
            <% pendingDonations.map((d)=>{ %>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="approved-donations">
            <h3 class="mb-4">Accepted Donations</h3>
            <% acceptedDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                    <div class="verification-options">
                        <a href="/Send_Donation?donationId=<%=d._id%>" class="bg-success">Send Food</a>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="suspended-donations">
            <h3 class="mb-4">Rejected Donations</h3>
            <% rejectedDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="sending-donations">
            <h3 class="mb-4">Sending Donations</h3>
            <% sendingDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="success-donations">
            <h3 class="mb-4">Successful Donations</h3>
            <% successDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="notsuccess-donations">
            <h3 class="mb-4">Not Successful Donations</h3>
            <% notSuccessDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Organization Name: <%=d.organization%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

    </div>




    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>