
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/CUSTOMER/Order_Food/Explore_Restuarants.css">
    <script src="/CUSTOMER/Order_Food/Explore_Restuarants.js" defer></script>
   
    
</head>
<body onclick="closeMenu()">

    <%- include('../partials/navbar.ejs') %>

    <div class="body-padding">
        <!-------------search bar and sort selection---------------------------------------->
        <div class="search">

            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search anything..." id="searchInput">
                <span class="left-pan"><i class="fa fa-microphone"></i></span>
            </div>

            <select class="form-select ms-4" placeholder="Sort by" id="sort" name="sort">
                <option value="0">--Sort by--</option>
                <option>Recomended</option>
                <option>Rating</option>
                <option>Delivery Time</option>
                <option>Cost</option>
            </select>

        </div>
    <!-------------search bar and sort selection---------------------------------------->



    <!--------------------filter buttons---------------------------------------->      
        <div class="filter mt-3">
        <button type="button" class="btn"><i class="fa fa-filter"></i> Filter</button>
        <div style="display: inline-flex;">
            <button type="button" class=" filters"  id="f1"><i class="fa-solid fa-leaf"></i> Pure Veg <i class="fa-solid fa-xmark fm ms-1"></i></button>
            <button type="button" class=" filters" id="f2"><i class="fa-solid fa-motorcycle"></i> Fast Delivery <i class="fa-solid fa-xmark fm ms-1"></i></button>
            <button type="button" class=" filters" id="f3">Rating 4<i class="fa fa-star fa-xs"></i>+ <i class="fa-solid fa-xmark fm ms-1"></i></button>
            <button type="button" class=" filters" id="f4">POD <i class="fa-solid fa-xmark fm ms-1"></i></button>
        </div>
        </div>
    <!--------------------filter buttons---------------------------------------->      



    <!----------------------food items swiper---------------------------------------->      
        <h3 class="mt-3 mb-2">Top Food Items</h3>
        <div class="slide-container swiper ">
            <div class="slide-content">
                <div class="swiper-wrapper" id="sw">
                
                        <% for (let i = 0; i < foodItems.length; i++) { %>

                            <div class="card swiper-slide">
                                <img class="card-img-top" src= "data:<%=foodItems[i].contentType %>;base64,<%= foodItems[i].data.toString('base64') %>"  alt="<%= foodItems[i].name %>" width="100px" height="150px">
                                <h5 class="card-title"><%= foodItems[i].name.replace(/\.[^/.]+$/, "")[0].toUpperCase() + foodItems[i].name.replace(/\.[^/.]+$/, "").slice(1); %></h5>
                            </div>
                            
                        <% } %>
                    
                </div>
                <div class="swiper-button-next btn-swipe"></div>
                <div class="swiper-button-prev btn-swipe"></div>
            </div>
        </div>
    <!----------------------food items swiper---------------------------------------->      


    <!----------------------Restuarants Grid---------------------------------------->      
        <div class="restuarants-container">
            <h3 class="mt-2 mb-4">Best Restaurants for you</h3>
            <div class="restuarants-wrapper">
            

                <%restuarants.map((restuarant)=>{%>

                <a class="link" href=<%if(currentUser){%>"/Menu?id=<%=restuarant.restaurant._id %>"<%}else{%>"/Login"<%}%> >
                    <div class="card" style="width:300px;">
                        <div class="card-body">
                            <img class="card-img-top" src="data:<%=restuarant.image.contentType %>;base64,<%= restuarant.image.data.toString('base64') %>" alt="Card image" height="180px">
                            <div class="card-img-overlay">
                                <p class="offers">Flat <%=restuarant.restaurant.offer%>% OFF</p>
                            </div>
                            <div class="restuarant-data">
                                <h4 class="card-title mt-1"><%=restuarant.restaurant.name%></h4>
                                <p id="type"><%=restuarant.restaurant.type%></p>
                                <hr>
                                <div class="data">
                                    <p class="badge bg-success" id="rating"><%=restuarant.restaurant.rating%><i class="fa fa-star fa-xs"></i></p>
                                    <p class="badge" id="time"><%=restuarant.restaurant.time%> MIN</p>
                                    <p class="badge" id="cost">Rs <%=restuarant.restaurant.cost%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <% }); %>

            </div>
        </div>
    <!----------------------Restuarants Grid----------------------------------------> 
    </div>


<%- include('../partials/footer.ejs') %>

<script src="/CUSTOMER/customer.js"></script> 
   
</body>
</html>