<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/ORGANIZATIONS/Organizations_Home.css">
<link rel="stylesheet" href="/ADMIN/Admin.css">
<link rel="stylesheet" href="/CUSTOMER/Order_Food/Explore_Restuarants.css">
<link rel ="stylesheet" href="/Food_Donation/Donations.css">
<script src="/ORGANIZATIONS/Organizations_Home.js" defer></script>

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Organizations_Navbar.ejs') %>
    <h4 class="ms-4">Welcome, <%=currentUser.name%>!</h4>
    <div class="main-body">

        <select class="form-select ms-4" placeholder="Sort by" id="filter" name="sort" style="width: fit-content; margin: 20px;">
            <option value="0">--Sort by--</option>
            <option>Donations Received</option>
            <option>Accepted Donations</option>
            <option>Rejected Donations</option>
            <option>Sending Donations</option>
            <option>Successful Donations</option>
            <option>Failed Donations</option>
        </select>
       

        <div class="pending-verifications" id="pendingVerifications">

            <h3 class="mb-4">Donations Received</h3>
            <% donations.map((d)=>{ %>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                    <div class="verification-options">
                        <a href="/Reject_Donation?donationId=<%=d._id%>" ><i class="fa-solid fa-circle-xmark me-2"></i>Reject</a>
                        <a href="/Accept_Donation?donationId=<%=d._id%>" class="bg-success"><i class="fa-solid fa-badge-check me-2"></i>Accept</a>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="sending-donations" id="sendingDonations">
            <h3 class="mb-4">Sending Donations</h3>
            <% sendingDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                    <div class="verification-options">
                        <a href="/NotReached_Donation?donationId=<%=d._id%>" ><i class="fa-solid fa-circle-xmark me-2"></i>Not Reached</a>
                        <a href="/Reached_Donation?donationId=<%=d._id%>" class="bg-success"><i class="fa-solid fa-badge-check me-2"></i>Reached</a>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="accepted-donations" id="acceptedDonations">
            <h3 class="mb-4">Accepted Donations</h3>
            <% acceptedDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="success-donations" id="successDonations">
            <h3 class="mb-4">Successful Donations</h3>
            <% successDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="rejected-donations" id="rejectedDonations">
            <h3 class="mb-4">Rejected Donations</h3>
            <% rejectedDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>

        <div class="notsuccess-donations" id="notSuccessDonations">
            <h3 class="mb-4">Failed Donations</h3>
            <% notSuccessDonations.map((d)=>{%>
                <div class="verification-card">
                    <div class="donation-details">
                        <h4>Restaurant Name: <%=d.restaurant%></h4>
                        <p>Food Item: <%=d.food%></p>
                        <p>No. of serves: <%=d.serves%></p>
                        <p>Timeslot: <%=d.timeslot%></p>
                    </div>
                </div>
            <%});%>
        </div>


    </div>




    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>