<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="icon" href="/CUSTOMER/images/icon.png">
    <link rel="stylesheet" href="/CUSTOMER/footer.css">
    <link rel="stylesheet" href="/CUSTOMER/navbar.css">
   

    <!-- Bootsrap cdn links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- font-awesome cdn link-->
    <script src="https://kit.fontawesome.com/dd74aaab55.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="/CUSTOMER/Order_Food/Restuarant_Menu.css"/>
 
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="menu-header">
        <span>Address</span>
        <h1><strong><%=Restuarant.name%></strong></h1>
        <p>
            <span><%=Restuarant.type%></span><br>
            <span><%=Restuarant.location%></span><br><br>
            <span><i class="fa-regular fa-circle-info fa-lg"></i> Based on distance, an additional delivery fee will apply</span>
        </p>
        <div class="menu-sub">
            <h6><strong><i class="fa-duotone fa-clock fa-lg"></i> <%=Restuarant.time%> MIN</strong></h6>
            <h6><strong><i class="fa-duotone fa-indian-rupee-sign fa-lg"></i> <%=Restuarant.cost%> for one</strong></h6>
           
        </div>
        
    </div>

    <div class="menu-container">

        <div class="mt-4 mb-4">
            
            <div class="drop">
                <h5 data-bs-toggle="collapse" data-bs-target="#recomended" style="display: inline-block;width: 95%;">Recomended</h5>
                <span  data-bs-toggle="collapse" data-bs-target="#recomended"><i class="fa-duotone fa-caret-down fa-lg"></i></span>
            </div>

            <div id="recomended" class="collapse show">
                <% recomended.forEach((food)=>{ %>

                    <div class="card" style="width:100%;height:150px;">

                        <div class="card-body">
                        
                            <img src="<%=food.image%>" alt="Card image" height="120px" width="120px">
                        
                            <div class="fooditem-data">
                                <span class="<%=food.type%>"><i class="fa-regular fa-square-o"></i></span>
                                <span style="color: #E38B29;font-size:small;"><strong>bestseller</strong></span>
                                <h5 class="card-title mt-1"><%=food.name%></h5>
                                <p>Rs <%=food.cost%></p>
                                <p class="food-description"><%=food.description%></p>
                            </div>
                            
                            <button class="add"><i class="fa-solid fa-minus"></i><p class="add-text"> Add </p><i class="fa-solid fa-plus"></i></button>

                        </div>
                    
                    </div>
                    <hr>
                <%});%>
            </div>

        </div>

        <% Menu.forEach((category)=>{ %>

            <div>

                <div class="drop">
                    <h5 data-bs-toggle="collapse" data-bs-target="#<%=category.categoryName%>" style="display: inline-block;width: 95%;"><%=category.categoryName%></h5>
                    <span  data-bs-toggle="collapse" data-bs-target="#<%=category.categoryName%>"><i class="fa-duotone fa-caret-down fa-lg"></i></span>
                    <hr>
                </div>

                <div class="collapse" id="<%=category.categoryName%>" >
                    <% category.items.forEach((food)=>{ %>

                    <div class="card" style="width:100%;height:150px;">

                        <div class="card-body">
                        
                            <img src="<%=food.image%>" alt="Card image" height="120px" width="120px">
                        
                            <div class="fooditem-data">
                                <span class="<%=food.type%>"><i class="fa-regular fa-square-o"></i></span>
                                <span style="color: #E38B29;font-size:small;"><strong>bestseller</strong></span>
                                <h5 class="card-title mt-1"><%=food.name%></h5>
                                <p>Rs <%=food.cost%></p>
                                <p class="food-description"><%=food.description%></p>
                            </div>
                            
                            <button class="add"><i class="fa-solid fa-minus"></i><p class="add-text"> Add </p><i class="fa-solid fa-plus"></i></button>

                        </div>
                    
                    </div>
                    <hr>
                    <%});%>
                </div>

            </div>
        <%})%>

        <div id="cart-message" data-bs-toggle="modal" data-bs-target="#modal-cart">
            <h4>Items added to cart!</h4>
            <h5>View Cart &nbsp;<i class="fa-solid fa-arrow-right fa-lg"></i></h5>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="modal-cart">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title"><strong>Cart</strong></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5>Your cart is Empty!</h5>
                    </div>
            
                    <!-- Modal footer -->
                    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div> -->
            
                </div>
            </div>
        </div>
        

    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        var cartItems = 0;
        const cartMessage = document.getElementById("cart-message");
        const addstxt = document.querySelectorAll(".add-text");

        addstxt.forEach((mid)=>{
        mid.addEventListener('click',()=>{
            var count = 1;
            cartItems++;
            const minus = mid.previousSibling;
            mid.innerHTML = count;
            const plus = mid.nextSibling;
            minus.style.display="inline";
            plus.style.display="inline";
            minus.addEventListener('click',()=>{
                
            if(count>0){
                count--;
                cartItems--;
            }
            mid.innerHTML=count;
            if(cartItems>0)cartMessage.style.display = "block";
            else cartMessage.style.display = "none";
            if(count<=0){
                mid.innerHTML="Add"
                minus.style.display="none";
                plus.style.display="none";
            }
            else{
            minus.style.display="inline";
            plus.style.display="inline";
            }
            });
            plus.addEventListener('click',()=>{
                count++;
                cartItems++;
                mid.innerHTML=count
                if(cartItems>0)cartMessage.style.display = "block";
                else cartMessage.style.display = "none";
            });
            if(cartItems>0)cartMessage.style.display = "block";
            else cartMessage.style.display = "none";
            
        });
        });
        
        if(cartItems>0)cartMessage.style.display = "block";
        else cartMessage.style.display = "none";
    </script>
     <script src="CUSTOMER/customer.js"></script>
</body>
</html>